<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-left" href="/" style="margin-right: 8px"><i class="fab fa-ethereum"></i></a>
  <a class="navbar-brand" href="/">Ethereum Lottery</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#participate">Participate</a>
      <a class="nav-item nav-link" href="#ticket-check">Your Tickets</a>
      <a class="nav-item nav-link" href="#about">About</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <div class="navbar-text">You are currently on the {{network}} network</div>
      <a class="nav-item nav-link" href="https://github.com/svstoll/ethereum-lottery-app" target="_blank">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </div>
</nav>
