<app-layout [network]="networkName">

  <div class="fluid-container bg-secondary">
    <div class="container title-container">
      <h1>Join the <b>Ethereum Lottery</b></h1>
      <p>
        Are you sick of paying taxes for your lottery winnings? Why don't you join the Ethereum Lottery instead?
      </p>
    </div>
  </div>

  <div class="fluid-container bg-primary" [hidden]="false">
    <div class="container status-container">
      <div class="row">

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
          <h2>Jackpot</h2>
          <h2><b>{{jackpot}}</b></h2>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 text-align-right">
          <h2>Time Left</h2>
          <h2><b>{{timeLeftDisplayText}}</b></h2>
        </div>

      </div>
    </div>
  </div>

  <div class="fluid-container bg-warning" *ngIf="showDrawWinningNumbersBanner()">
    <div class="container draw-winning-numbers-container">
      <div class="row">

        <div class="col-12">
          <h2>The round has ended!</h2>
          <p>
            Draw the winning numbers so that the winners can be decided.
          </p>
          <button type="button" class="btn btn-primary ng-disabled" (click)="drawWinningNumbers()">
            <i class="fas fa-dice"></i> Draw Numbers
          </button>
        </div>

      </div>
    </div>
  </div>

  <div class="fluid-container bg-warning" *ngIf="showDistributeWinningsBanner()">
    <div class="container distribute-winnings-container">
      <div class="row">

        <div class="col-12">
          <h2>Alea iacta est!</h2>
          <p>
            The next round will start once all winnings have been distributed.
          </p>
          <button type="button" class="btn btn-primary" (click)="distributeWinnings()">
            <i class="fas fa-trophy"></i> Distribute Winnings
          </button>
        </div>

      </div>
    </div>
  </div>

  <div class="fluid-container bg-danger" [hidden]="!lotteryClosed">
    <div class="container lottery-closed-container">
      <div class="row">

        <div class="col-12">
          <h2>The lottery is permanently closed!</h2>
          <p>
            If you bought tickets that did not enter the lottery before it was closed, you will be refunded.
          </p>
          <button type="button" class="btn btn-primary" (click)="distributeRefunds()">
            <i class="fas fa-redo"></i> Check Refunds
          </button>
        </div>

      </div>
    </div>
  </div>

  <div class="fluid-container bg-light">
    <div class="container ticket-container">
      <div class="row">

        <div class="col-xl-4 col-lg-4 col-md-3 col-sm-2 col-1"></div>

        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8 col-10" id="participate">
          <h2>Participate in Round</h2>
          <p>You must choose exactly four numbers. The price for a ticket is {{ticketPrice}} ETH.</p>
          <div class="lottery-number-container">
            <div *ngFor="let lotteryNumber of lotteryNumbers; let i=index">
              <div [class.number-box-active]="chosenNumbers.includes(lotteryNumber)"
                   (click)="mutateLotteryNumber(lotteryNumber)" class="number-box" id="lottery-number-{{i}}">
                <div class="number">{{lotteryNumber}}</div>
              </div>
            </div>
          </div>
          <hr class="lucky-number-rule">
          <div class="d-flex justify-content-between">
            <button (click)="randomPick()" type="button" class="btn btn-primary button-not-last">
              <i class="fas fa-dice"></i> Random
            </button>
            <button type="button" class="btn btn-primary" (click)="buyTicket()" [disabled]="isBuyTicketsButtonDisabled()">
              <i class="fas fa-ticket-alt"></i> Buy Ticket
            </button>
          </div>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-3 col-sm-2 col-1"></div>
      </div>
    </div>
  </div>

  <div class="fluid-container bg-light">
    <div class="container ticket-check-container">
      <div class="row">

        <div class="col-xl-2 col-lg-2 col-md-0 col-sm-0 col-0"></div>

        <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12" id="ticket-check">
          <h2>Your Tickets</h2>
          <div *ngIf="tickets.length !== 0">
            <div class="d-flex justify-content-start">
              <div *ngFor="let ticket of showedTickets" class="ticket">
                <span class="h5 text-uppercase">Ethereum Lottery Ticket</span>
                <hr>
                <p class="font-weight-bolder">Chosen Numbers</p>
                <div class="d-flex justify-content-between">
                  <div *ngFor="let n of formatSCNumbersBack(ticket.chosenNumbers)" class="ticket-number-box"
                       [class.number-box-active]="formatSCNumbersBack(ticket.winningNumbers).includes(n)">
                    <div>{{n}}</div>
                  </div>
                </div>
                <hr>
                <div *ngIf="ticket.winningNumbers">
                  <p class="font-weight-bolder">Winning Numbers:</p>
                  <div class="d-flex justify-content-between">
                    <div *ngFor="let n of formatSCNumbersBack(ticket.winningNumbers)" class="ticket-number-box">
                      <div>{{n}}</div>
                    </div>
                  </div>
                </div>
                <p></p>
                <div *ngIf="!ticket.winningNumbers">
                  <p>This round has not finished yet!</p>
                </div>
                <hr>
                <p class="font-weight-bolder">Round Start</p>
                <p>{{formatDate(ticket.roundStart) | date:'dd.MM.yy, HH:mm:ss'}}</p>
                <div *ngIf="ticket.won">
                  <p><b>Winning Ticket</b></p>
                </div>
              </div>
            </div>
            <hr>
            <div class="d-flex justify-content-center mt-2">
              <pagination class="custom-pagination"
                          [totalItems]="tickets.length"
                          [itemsPerPage]="maxTicketsPerPage"
                          (pageChanged)="pageChanged($event)"></pagination>
            </div>
          </div>
          <div *ngIf="tickets.length === 0">
            <span>You don't have any tickets yet. Buy your first ticket now!</span>
          </div>
        </div>

        <div class="col-xl-2 col-lg-2 col-md-0 col-sm-0 col-0"></div>

      </div>
    </div>
  </div>

  <div class="fluid-container bg-secondary">
    <div class="container about-container">
      <div class="row">

        <div class="col-12" id="about">
          <h1>About</h1>
          <p>
            This lottery DApp was created by Fan Feng, Yuang Cheng, Sven Stoll and Roger Staubli.
          </p>
        </div>

      </div>
    </div>
  </div>

</app-layout>
