<app-layout [network]="networkName">

  <div class="fluid-container bg-secondary">
    <div class="container title-container">
      <h1>Join the <b>Ethereum Lottery</b></h1>
      <p>
        Are you sick of paying taxes for your lottery winnings? Why don't you join the Ethereum Lottery instead?
      </p>
    </div>
  </div>

  <div class="fluid-container bg-primary" [hidden]="false">
    <div class="container status-container">
      <div class="row">

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
          <h2>Jackpot</h2>
          <h2><b>{{jackpot}}</b></h2>
          <button type="button" class="btn btn-warning" (click)="checkWinnings()">
            <i class="fas fa-trophy"></i> Check Winnings
          </button>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 text-align-right">
          <h2>Time Left</h2>
          <h2><b>{{timeLeftDisplayText}}</b></h2>
          <button type="button" class="btn btn-warning ng-disabled" (click)="drawWinningNumbers()" [disabled]="isDrawWinningNumbersDisabled()">
            <i class="fas fa-dice"></i> Draw Numbers
          </button>
        </div>

      </div>
    </div>
  </div>

  <div class="fluid-container bg-warning" [hidden]="!showCheckWinningsBanner()">
    <div class="container winning-numbers-drawn-container">
      <div class="row">

        <div class="col-12">
          <h2>Alea iacta est!</h2>
          <p>
            The next round will start, once all the winners have been processed.
            Check your winnings to initiate this process.
          </p>
        </div>

      </div>
    </div>
  </div>

  <div class="fluid-container bg-danger" [hidden]="!lotteryClosed">
    <div class="container lottery-closed-container">
      <div class="row">

        <div class="col-12">
          <h2>The lottery is permanently closed!</h2>
          <p>
            If you bought tickets that did not enter the lottery before it was closed, you will be refunded.
          </p>
          <button type="button" class="btn btn-primary" (click)="checkRefunds()">
            <i class="fas fa-redo"></i> Check Refunds
          </button>
        </div>

      </div>
    </div>
  </div>

  <div class="fluid-container bg-light">
    <div class="container ticket-container">
      <div class="row">

        <div class="col-xl-4 col-lg-4 col-md-3 col-sm-2 col-1"></div>

        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8 col-10" id="participate">
          <h2>Participate in Round</h2>
          <p>You must choose exactly four numbers.</p>
          <div class="lottery-number-container">
            <div *ngFor="let lotteryNumber of lotteryNumbers; let i=index">
              <div [class.number-box-active]="chosenNumbers.includes(lotteryNumber)"
                   (click)="mutateLotteryNumber(lotteryNumber)" class="number-box" id="lottery-number-{{i}}">
                <div class="number">{{lotteryNumber}}</div>
              </div>
            </div>
          </div>
          <hr class="lucky-number-rule">
          <div class="d-flex justify-content-between">
            <button (click)="randomPick()" type="button" class="btn btn-primary button-not-last">
              <i class="fas fa-dice"></i> Random
            </button>
            <button type="button" class="btn btn-primary" (click)="buyTicket()" [disabled]="isBuyTicketsButtonDisabled()">
              <i class="fas fa-ticket-alt"></i> Buy Ticket
            </button>
          </div>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-3 col-sm-2 col-1"></div>
      </div>
    </div>
  </div>

  <div class="fluid-container bg-light">
    <div class="container ticket-check-container">
      <div class="row">

        <div class="col-xl-2 col-lg-2 col-md-0 col-sm-0 col-0"></div>

        <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12" id="ticket-check">
          <h2>My Tickets</h2>
          <div *ngIf="tickets.length !== 0">
            <div class="d-flex justify-content-start">
              <div *ngFor="let ticket of showedTickets" class="ticket">
                <span class="h5 text-uppercase">Ethereum Lottery Ticket</span>
                <hr>
                <p class="font-weight-bolder">My Numbers</p>
                <div class="d-flex justify-content-between">
                  <div *ngFor="let n of formateSCNumbersBack(ticket.chosenNumbers)" class="ticket-number-box"
                       [class.number-box-active]="ticket.winningNumbers.includes(n)">
                    {{n}}
                  </div>
                </div>
                <hr>
                <div *ngIf="ticket.winningNumbers">
                  <p class="font-weight-bolder">Winning Numbers:</p>
                  <div class="d-flex justify-content-between">
                    <div *ngFor="let n of formateSCNumbersBack(ticket.winningNumbers)" class="ticket-number-box">
                      {{n}}
                    </div>
                  </div>
                </div>
                <p></p>
                <div *ngIf="!ticket.winningNumbers">
                  <p>This round has not finished yet!</p>
                </div>
                <hr>
                <p class="font-weight-bolder">Round</p>
                <p>{{formateDate(ticket.roundStart) | date:'medium'}}</p>
                <div *ngIf="ticket.won">
                  <p class="text-uppercase">You have won the lottery!</p>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-center mt-2">
              <pagination class="custom-pagination"
                          [totalItems]="tickets.length"
                          [itemsPerPage]="maxTicketsPerPage"
                          (pageChanged)="pageChanged($event)"></pagination>
            </div>
          </div>
          <div *ngIf="tickets.length === 0">
            <span class="font-italic">You don't have any tickets yet. Buy your first ticket now!</span>
          </div>

        </div>

        <div class="col-xl-2 col-lg-2 col-md-0 col-sm-0 col-0"></div>

      </div>
    </div>
  </div>

  <div class="fluid-container bg-secondary">
    <div class="container about-container">
      <div class="row">

        <div class="col-12" id="about">
          <h1>About</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae turpis a nisl commodo consequat nec id
            erat. In hac habitasse platea dictumst. In ut ligula eu enim venenatis congue non vel dolor. Cras vitae
            efficitur sapien. Pellentesque gravida metus mauris, vel placerat ex tincidunt sed. Curabitur quis egestas ex.
            Suspendisse tincidunt eleifend interdum.
          </p>
        </div>

      </div>
    </div>
  </div>

</app-layout>
