@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~@fortawesome/fontawesome-free/css/brands.css";

$color-primary: #4a626d;
$color-secondary: #778f9b;
$color-light: #f5f5f6;
$color-accent: #ffd600;
$color-text-light: white;

$theme-colors: (
  "primary": $color-primary,
  "secondary": $color-secondary,
  "light": $color-light,
  "warning": $color-accent
);

// Bootstrap import must be done after modifying Bootstrap variables.
@import "~bootstrap/scss/bootstrap";

body {
  min-width: 300px;
}

.text-align-right {
  text-align: right;
}

.button-not-last {
  margin-right: 8px;
}

.custom-pagination .pagination .page-link {
  color: $color-primary !important;
}

.custom-pagination .pagination .page-item.active .page-link {
  background-color: $color-primary !important;
  border-color: $color-primary !important;
  color: white !important;
}
